.wrapper {
	display: grid;
	row-gap: 1.5em;
}

.form {
	display: grid;
	row-gap: 1em;
	padding: 1.5em;
	border-radius: 10px;
	background-image: url("/images/bg-shorten-mobile.svg");
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-color: var(--color-primary-violet);
}

.form > div {
	position: relative;
}

.input {
	width: 100%;
	font-size: 16px;
	padding: 0.5em 1em;
	border: 2px solid transparent;
	border-radius: 5px;
	color: var(--color-neutral-light);
	background-color: white;
}

.input::placeholder {
	color: var(--color-neutral-light);
}

.input:focus-visible {
	outline: 2px solid var(--color-primary-cyan);
}

.input_error {
	outline: 3px solid var(--color-secondary-red);
}

.input_error::placeholder {
	color: var(--color-secondary-red);
}

.error {
	position: absolute;
	margin-top: 0.5em;
	text-align: start;
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	color: var(--color-secondary-red);
}

.form > button {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	padding-block: 0.565em;
	border: none;
	border-radius: 5px;
	background-color: var(--color-primary-cyan);
}

@media (min-width: 768px) {
	.form {
		background-image: url("/images/bg-shorten-desktop.svg");
		background-size: cover;
	}
}

@media (min-width: 1024px) {
	.form {
		grid-template-columns: 1fr auto;
		column-gap: 1.5em;
		padding: 2.5em 3em;
	}

	.form > button {
		padding: 0.5em 2em;
	}

	.form > button:hover {
		cursor: pointer;
		background-color: var(--color-primary-cyan-light);
	}

	.error {
		font-size: 16px;
		margin-top: .5em;
	}
}

@media (min-width: 1440px) {
	.form {
		padding: 3.25em;
	}

	.input {
		font-size: 20px;
		border-radius: 10px;
		padding: .75em 1.6em;
	}

	.form > button {
		font-size: 20px;
		padding: 0em 2em;
	}
}
