.main {
	display: grid;
	row-gap: 5.75em;
	justify-content: center;
	text-align: center;
	padding-inline: 1.5em;
	background-color: #f0f1f6;
}

.content_wrapper {
	position: relative;
	top: -5em;
	display: grid;
	row-gap: 5.5em;
}

.wrapper {
	display: grid;
	row-gap: 6em;
}

.header {
	display: grid;
	row-gap: 1em;
}

.header > h2 {
	font-size: 28px;
	color: var(--color-neutral-dark);
}

.header > p {
	font-size: 16px;
	font-weight: var(--font-weight-medium);
	line-height: 1.7;
	color: var(--color-neutral-light);
}

.flex_group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	width: 10px;
	height: 5.75em;
	background-color: var(--color-primary-cyan);
}

.flex_item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	padding: 4.75em 2em 2.5em 2em;
	border-radius: 5px;
	background-color: white;
}

.image {
	position: absolute;
	top: -2.75em;
	width: 88px;
	aspect-ratio: 1/1;
	display: grid;
	place-content: center;
	border-radius: 50px;
	background-color: var(--color-primary-violet);
}

.flex_item > div > h3 {
	font-size: 22px;
	font-weight: var(--font-weight-bold);
	margin-bottom: 0.75em;
	color: var(--color-neutral-darker);
}

.flex_item > div > p {
	font-size: 15px;
	font-weight: var(--font-weight-medium);
	line-height: 1.7;
	color: var(--color-neutral-light);
}

@media (min-width: 768px) {
	.main {
		padding-inline: 3.5em;
	}

	.wrapper {
		padding-inline: 5.5em;
	}
}

@media (min-width: 1024px) {
	.main {
		padding-inline: 5em;
	}

	.wrapper {
		padding-inline: 10em;
	}

	/* .flex_group {
		flex-direction: row;
		gap: 1em;
		align-items: flex-start;
	}

	.flex_group > .flex_item:nth-child(3) {
		margin-top: 44px;
	}

	.flex_group > .flex_item:nth-child(5) {
		margin-top: 88px;
	}

	.line {
		display: none;
	}

	.flex_item {
		align-items: flex-start;
		text-align: left;
		padding: 4.75em 1.5em 2.5em 1.5em;
	}

	.flex_item > div > h3 {
		font-size: 20px;
	}

	.flex_item > div > p {
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: -3.5%;
	} */
}