.secondary_cta {
	display: grid;
	place-content: center;
	justify-items: center;
	row-gap: 1em;
	padding-block: 5.625em;
	background-image: url("/images/bg-boost-mobile.svg");
	background-repeat: no-repeat;
	background-color: var(--color-primary-violet);
}

.secondary_cta > h2 {
	font-size: 28px;
	font-weight: var(--font-weight-bold);
	color: white;
}

@media (min-width: 768px) {
	.secondary_cta {
		background-image: url("/images/bg-boost-desktop.svg");
		background-size: cover;
	}
}
