.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em 1.375em 1.5em;
  background-color: white;
}

.hamburger {
  border: none;
  background: none;
}

.hamburger > svg {
  color: var(--color-neutral-light);
}

.nav_menu {
  display: grid;
  row-gap: 2rem;
  position: absolute;
  top: 6em;
  width: calc(100% - 3em);
  padding: 2.5em 1.5em;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-primary-violet);
}

.nav_menu > ul {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  list-style: none;
}

.nav_menu > ul:last-child {
  gap: 1.25rem;
}

.nav_menu > span {
  border-top: .5px solid var(--color-neutral-lighter);
}

.button {
  width: 100%;
  padding-block: .6em;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 50px;
  background-color: var(--color-primary-cyan);
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .nav_menu {
    display: none;
  }

  .show {
    display: grid;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 2em 3.5em;
  }

  .nav_menu {
    width: calc(100% - 7em);
    padding: 2.5em 3.5em;
  }

  .button {
    width: fit-content;
    padding: .5em 3.5em;
  }
}

@media (min-width: 1024px) {
  .header {
    gap: 2.5em;
    padding: 2.5em 5em;
  }

  .hamburger {
    display: none;
  }

  .show {
    display: none;
  }

  .nav_menu {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: none;
  }

  .nav_menu > ul {
    flex-direction: row;
    gap: 2.5em;
    font-size: 16px;
    color: var(--color-neutral-light);
  }

  .nav_menu > span {
    display: none;
  }

  .nav_menu > ul:last-child {
    align-items: center;
    gap: 2em;
  }

  .button {
    padding: 0.5em 2.5em;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 2.5em 10em;
  }

  .header {
    gap: 2.813em;
  }

  .nav_menu > ul {
    gap: 1.875em;
  }

  .nav_menu > ul:last-child {
    gap: 2.375em;
  }

  .button {
    font-size: 16px;
    padding: 0.5em 1.5em;
  }
}
