.footer {
  padding-block: 2.5em;
  display: grid;
  row-gap: 3em;
  justify-content: center;
  text-align: center;
  background-color: var(--color-neutral-darker);
}

.h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.item {
  font-size: 15px;
  font-weight: var(--font-weight-bold);;
}

.item_body {
  display: grid;
  row-gap: .5em;
  margin-top: 1.5em;
}

.item_body > * {
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-lighter);
}

.socials {
  display: flex;
  gap: 1.5em;
  align-items: center;
}