.cta_button {
	width: fit-content;
  padding: 0.65em 2em;
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	border: none;
	border-radius: 50px;
	background-color: var(--color-primary-cyan);
}

@media (min-width: 768px) {
	.cta_button {
		padding: .5em 2em;
	}
}